include LICENSE.txt README.rst requirements.txt src/analysis/ src/Data/housing.data src/Data/housing.names src/Data/winequality-red.csv src/Data/winequality-white.csv src/Data/winequality.names
prune test/
